.CalendarNavigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.25rem 0.5rem;
  background-color: var(--black_2);
  
  &-btn {
    cursor: pointer;
    padding: 0.25rem;

    &:hover,
    &:focus {
      &::before {
        color: var(--orange_1);
      }
    }

    &::before {
      content: "\27A4";
      font-size: var(--fSize28);
      color: var(--white_1);
      display: inline-block;
      transition: color .25s ease;
    }

    &:first-child {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &-title {
    min-width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;

    &-text,
    &-btn,
    &-input {
      font-size: var(--fSize16);
      color: var(--white_1);
      font-weight: 500;
      text-transform: uppercase;
    }

    &-btn {
      width: 75px;
      cursor: pointer;

      &:hover,
      &:focus {
        color: var(--orange_1);
      }
    }

    &-input {
      width: 75px;
      text-align: center;
      background-color: transparent;
      color: var(--white_1);
      border: none;
      border-bottom: 1px solid var(--orange_1);
      
    }
  }
}
